.container {
  margin: 10%;
}

.field {
  flex: auto;
  margin: 10px;
  display: inline;
}

.field-readonly {
  background-color: whitesmoke;
}

mat-card-content {
  flex: auto;
  display: contents;
}

mat-card {
  margin-top: 10px;
}

input {
  text-align: right;
}
